*{
    margin:0;
    font-family: 'Space Grotesk', sans-serif;
}

.container{
    display:grid;
    height: 100vh;
    grid-template-columns: 30% 2fr;
}

.inner-container{
    grid-column: 1/3;
    background-image:url('../src/images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: 30% 100vh;
    
    display: grid;
    grid-template-columns: repeat(2, 7.5%) 15% repeat(2, 7.5%) 2fr;
    grid-template-rows: 1fr repeat(2, 4fr) 1fr;
}

.cards{
   grid-column: 2/6;
   grid-row:2/4;
   display:grid;
   grid-template-columns:repeat(4, 150px);  
}

.card-one{
    grid-column: 1/4;
    /* background-image: url('../images/bg-card-front.png'); */
    background-repeat: no-repeat;
    background-size: contain;
    color:hsl(0, 0%, 100%);

    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(2, 2fr) 1fr;
    grid-template-rows: 2% repeat(4, 10%) 2%; */
    justify-content: center;
    align-items: center;
    width:600px;
}

.card-one img, .card-two img {
    width:600px;
    height:330px;
    position: relative;
}

.card-one-container{
    position:absolute;
    height: 280px;
}

.card-number{
    text-align: center;
    font-size:2.5rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
  width:500px;
}

.circles{
    display: flex;
    align-items: center;
    margin-bottom:7rem;
}

.circle-one{
    background-color: hsl(0, 0%, 100%);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right:12px;
}

.circle-two{
    border: 2px solid hsl(0, 0%, 100%);
    width: 20px;
    height: 20px;
    border-radius: 50px;
}


.name-date{
 display: flex; 
 max-width: 600px; 
 justify-content: center; 
}

.card-holder{
    /* grid-column: 1/2;
    grid-row: 5/6;  */
    font-size:16px; 
    text-align: left;
    width: 50%;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.exp-date{
    /* grid-column:3/4;
    grid-row:5/6; */
    font-size:16px; 
    text-align: right;
    width: 50%;
    margin:0;
}

.card-two{
    grid-column: 2/5;
    /* background-image: url('../images/bg-card-back.png'); */
    background-repeat: no-repeat;
    background-size:contain;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width:600px;
}

.card-cvc{
    position:absolute;
    left:780px;
    color:hsl(0, 0%, 100%);
    letter-spacing: 2px;
}


.form{
    grid-column: 6/7;
    grid-row:2/4;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    justify-content: center;
    align-content: center;
    font-size: 12px;
    letter-spacing: 2px;
}

label{
    text-transform: uppercase;
    padding-bottom:8px;
}

.name{
    width:100%;
    border-radius: 5px;
    border: 1px hsl(270, 3%, 87%) solid;
    padding:10px;
    color:hsl(270, 3%, 87%);
    margin-bottom:15px;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=tel]:focus,
.name:focus{
    outline: none;
}

input[type=text]::placeholder, input[type=number]::placeholder, input[type=tel]::placeholder{
    color:hsl(270, 3%, 87%);
}


.details{
    display: flex;
}

.details input{
    margin-top:8px !important;  
}

.date-input{
    display: flex;
}

.date{
    width:50%
}

.date-input input{
    width:100% !important;
    margin-right:15px;
}



button{
    background-color: hsl(278, 68%, 11%);
    border:none;
    border-radius: 5px;
    padding:10px;
    color: hsl(0, 0%, 100%);
    width: 106%;
    margin-top:15px;
    cursor: pointer;
}

.error{
    width:100%;
    border-radius: 5px;
    border: 1px hsl(0, 100%, 66%) solid;
    padding:10px;
    color:hsl(270, 3%, 87%);
    margin-bottom:15px; 
}

.error-message{
    color:hsl(0, 100%, 66%);
    padding-bottom:12px;
}

.inner-data{
    width:300px;
    display:flex;
    flex-direction: column;
    align-items: center;
}


.thanks{
    text-transform: uppercase;
    color: hsl(278, 68%, 11%);
    font-weight: 500;
    text-align: center;
    padding-bottom: 0.5vw;
}

.thanks-message{
    color:hsl(279, 6%, 55%);
    font-size:10px;
    text-align: center;
    padding-bottom: 1vw;
}

.complete{
    width:20%;
   align-items: center;
   padding-bottom: 1vw;
}

/*Screen size*/

@media only screen and (max-width:1440px){

    
.card-one img, .card-two img {
    width:500px;
    height:300px;
}

    .card-two{
        width:500px;
    }
    
    .card-cvc{

        left:660px;

    }

    .card-number{
     font-size:2rem ;
    }
    
    .circles{
        margin-left: 3rem;
        margin-top:0.5rem;
    }
    
    /* .circle-one{
        background-color: hsl(0, 0%, 100%);
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-right:12px;
    }
    
    .circle-two{
        border: 2px solid hsl(0, 0%, 100%);
        width: 20px;
        height: 20px;
        border-radius: 50px;
    } */
    
    
    /* .name-date{
     display: flex; 
     max-width: 600px; 
     justify-content: center; 
    } */
    
    .card-holder{

        font-size:14px; 
        margin-left: 3rem;
        
    }
    
    .exp-date{

        font-size:14px; 
        margin-right: 3rem;
    }
    
    
}


@media only screen and (max-width:1280px){
    .inner-container{
        grid-template-columns: repeat(2, 4%) 15% repeat(2, 15%) 2fr;
    }

    .card-cvc{

        left:600px;

    }
}

/* mobile  */

@media only screen and (max-width:1024px){

    
    .card-one img, .card-two img {
        width:300px;
        height:200px;
    }
    
        .card-two{
            width:500px;
        }
        
        .card-cvc{
    
            left:660px;
    
        }
    
        .card-number{
         font-size:1.2rem ;
        }
        
        .circles{
            margin-left: 3rem;
            margin-top:0.5rem;
        }
        
        /* .circle-one{
            background-color: hsl(0, 0%, 100%);
            width: 50px;
            height: 50px;
            border-radius: 50px;
            margin-right:12px;
        }
        
        .circle-two{
            border: 2px solid hsl(0, 0%, 100%);
            width: 20px;
            height: 20px;
            border-radius: 50px;
        } */
        
        
        /* .name-date{
         display: flex; 
         max-width: 600px; 
         justify-content: center; 
        } */
        
        .card-holder{
    
            font-size:12px; 
            margin-left: 3rem;
            
        }
        
        .exp-date{
    
            font-size:12px; 
            margin-right: 3rem;
        }
        
        
    }


    @media screen and (max-width:960px){
        .container{
            display:grid;
            height: 100vh;
            grid-template-columns: 2fr;
            grid-template-rows: 30% 2fr;
        }
        
        .inner-container{
            grid-column: 1/2;
            height: 100vh;
            background-image:none;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 3fr 1fr 2fr 1fr 55%;
        }

        .cards{
            grid-row:1/6;
            grid-column: 1/4;

            background-image:url('../src/images/bg-main-desktop.png');
            background-repeat: no-repeat;
            background-size: 100%;

            display: grid;
            grid-template-columns: 0.5fr 1.5fr 6fr 1.5fr 0.5fr;
            grid-template-rows: 1fr 3fr 1fr 2fr 1fr;
        }

        .card-one{
            grid-column: 2/4;
            grid-row: 3/7;
            z-index: 10;
       
        }

        .card-one-container{
            position:absolute;
            height: 300px;
        }

        .card-two{
            grid-column: 3/5;
            grid-row:2/4;
            z-index: 9;
        }

        .card-one img, .card-two img {
            width:570px;
            height:300px;
        }

        .card-cvc{
    
            left:620px;
            font-size: 18px;
    
        }
    
        .card-number{
         font-size:2.5rem ;
        }
        
        .circles{
            margin-left: 1rem;
            margin-top:3rem;
            margin-bottom: 60px;
        }
        
    
        .card-holder{
    
            font-size:18px; 
            margin-left: 1rem;
            
        }
        
        .exp-date{
    
            font-size:18px; 
            margin-right: 1rem;
        }
        

        .form{
            grid-column: 1/2;
            grid-row:6/7;
            width: 90%;
        }
    }

    @media screen and (max-width:600px){

        .card-one img, .card-two img {
            display: none;
        }

        .name{
            width:90%;
        }

        .details{
            width:96%;
        }

        button{
            width:100%;
        }

        .inner-container{
            grid-template-columns: 1fr 10fr 1fr;
        }

        .cards{
            grid-template-columns: 5% 10% 80% 10% 5%;
            background-size: 100% 90%;
        }

        .card-one{
            background-image: url('../src/images/bg-card-front.png');
        }

        .card-two{
            background-image: url('../src/images/bg-card-back.png');
        }

        .card-one-container{
            left:15px;
            height: 150px;
        }


        .card-cvc{
    
            left:300px;
            font-size: 12px;
    
        }
    
        .card-number{
         font-size:1.2rem ;
         width:310px;
         margin-bottom: 12px;
        }
        
        .circles{
            margin-left: 2rem;
            margin-top:10px;
            margin-bottom: 40px;
        }

        .circle-one{
            background-color: hsl(0, 0%, 100%);
            width: 30px;
            height: 30px;
            border-radius: 50px;
            margin-right:6px;
        }
        
        .circle-two{
            border: 1px solid hsl(0, 0%, 100%);
            width: 12px;
            height: 12px;
            border-radius: 50px;
        }
        
    
        .card-holder{
    
            font-size:12px; 
            margin-left: 2rem;
            width: 100%;
            
        }
        
        .exp-date{
    
            font-size:12px; 
            margin-right: 2rem;
        }
       
       .form{
        grid-column:2/3;
        max-width:422px;
        width:100%;
       }
    }