*{
    margin:0;
    font-family: 'Space Grotesk', sans-serif;
}

/* container for desktop */

.container{
    display:grid;
    height: 100vh;
    grid-template-columns: 5% 90% 5%;
    justify-content: center;
    align-items: center;
    background-image:url('../src/images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: 30% 100%;
}

.inner-container{
 
    /* padding: 0 10%; */
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 50%;

}


/* form styling  */
.form{
    grid-column: 6/7;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    justify-content: center;
    align-content: center;
    font-size: 12px;
    letter-spacing: 2px;
    padding-left:20%;
}

label{
    text-transform: uppercase;
    padding-bottom:8px;
}

.name{
    border-radius: 5px;
    border: 1px hsl(270, 3%, 87%) solid;
    padding:10px;
    color:hsl(270, 3%, 87%);
    margin-bottom:15px;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=tel]:focus,
.name:focus{
    outline: none;
}

input[type=text]::placeholder, input[type=number]::placeholder, input[type=tel]::placeholder{
    color:hsl(270, 3%, 87%);
}


.details{
    display: flex;
}

.details input{
    margin-top:8px;  
}

.date-input{
    display: flex;
}

.date{
    width:60%
}

.date-input input{
    width:100% !important;
    margin-right:15px;
}



button{
    background-color: hsl(278, 68%, 11%);
    border:none;
    border-radius: 5px;
    padding:10px;
    color: hsl(0, 0%, 100%);
    width: 100%;
    margin-top:15px;
    cursor: pointer;
}

.error{
    /* width:100%; */
    border-radius: 5px;
    border: 1px hsl(0, 100%, 66%) solid;
    padding:10px;
    color:hsl(270, 3%, 87%);
    margin-bottom:15px; 
}

.error-message{
    color:hsl(0, 100%, 66%);
    padding-bottom:12px;
}

.inner-data{
    width:300px;
    display:flex;
    flex-direction: column;
    align-items: center;
}


.thanks{
    text-transform: uppercase;
    color: hsl(278, 68%, 11%);
    font-weight: 500;
    text-align: center;
    padding-bottom: 0.5vw;
}

.thanks-message{
    color:hsl(279, 6%, 55%);
    font-size:10px;
    text-align: center;
    padding-bottom: 1vw;
}

.complete{
    width:20%;
   align-items: center;
   padding-bottom: 1vw;
}


/* Card digits styling */

.card-number{
    text-align: center;
    font-size:clamp(1.8rem,2.5vw,2.4rem );
    letter-spacing: 2px;
    margin-bottom: 5%;
}

.circles{
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-bottom:18%;
}

.circle-one{
    background-color: hsl(0, 0%, 100%);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right:12px;
}

.circle-two{
    border: 2px solid hsl(0, 0%, 100%);
    width: 20px;
    height: 20px;
    border-radius: 50px;
}


.name-date{
 display: flex; 
 /* max-width: 600px;  */
 justify-content: center; 
}

.card-holder{

    font-size:14px; 
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    width:40%;
}

.exp-date{

    font-size:16px; 
    text-align: right;
    width: 50%;
    margin:0;
}

.cards{
    grid-column:1/6;

    display: grid;
    gap:35px;
}

.card-one{
    grid-column: 1/5;

    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
}

.card-one-container{
    color:hsl(0, 0%, 100%);
    position: absolute;
    width:100%;
}

.card-two{
    grid-column: 2/6;

    background-repeat: no-repeat;
    background-size:contain;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.card-cvc{
    position:absolute;
    left:43%;
    color:hsl(0, 0%, 100%);
    letter-spacing: 2px;
}




/*Mobile size*/



    @media screen and (max-width:1120px){
        .container{
            display:grid;
            height: 100vh;
            grid-template-columns: 100%;
            background-image:url('../src/images/bg-main-mobile.png');
            background-repeat: no-repeat;
            background-size: 100% 30%;

        }
        
        .inner-container{
            grid-column: 1/-1;
            height: 100vh;
            height: 100dvh;
            
            /* width:90%; */
            background-image:none;

            display: grid;
            grid-template-columns: 5% 90% 5%;
            grid-template-rows: 10% 10% 10% 10% 15% 45%;

            padding-top:5%;
        }

        .cards{
            grid-row:1/6;
            grid-column: 2/3;


            background-repeat: no-repeat;
            background-size: 100% 80%;

            display: grid;
            grid-template-columns: 10% 80% 10%;
            grid-template-rows: 35% 20% 35%;
            gap:10px;

            padding-top:5%;
        }

        .card-one{
            grid-column: 1/3;
            grid-row: 2/-1;
            z-index: 10;
            color:hsl(0, 0%, 100%);
            position: relative;
            background-image: url('../src/images/bg-card-front.png');
            background-repeat:no-repeat ;
            background-size: 100% 100%;

            display: grid;
            grid-template-columns: 2fr;
            grid-template-rows: 2fr;


       
        }

        .card-one-container{
            /* justify-content: center; */
            align-items: center;
            grid-column: 1/-1;
            /* grid-row:1/2; */
           /* position:absolute; */
           display: grid;
           grid-template-columns: 4fr 2fr 1fr;
           grid-template-rows: 50% 25% 25%;
           height: 100%;

           /* padding: 4vw 2vw; */
            
        }

        .circles{
            /* grid-column: 1/2; */
            grid-row:1/2;
        }

        .card-number{
            grid-column:1/-1;
            grid-row:2/3;
            font-size: 6.5vmin;
        }

        .name-date{
            grid-column:1/5;
            grid-row:3/4; 
        }

        .card-two{
            grid-column: 2/-1;
            grid-row:1/3;
            z-index: 9;
            background-image: url('../src/images/bg-card-back.png');
            background-repeat:no-repeat ;
            background-size: 100% 100%;
        }

        .card-one img, .card-two img {
         display: none;
        }

        .card-cvc{
    
            left:80%;
            font-size: 1.5rem;
    
        }
    
    
        .card-holder{
    
            font-size:2.5vw; 

        }
        
        .exp-date{
            font-size:2.5vw; 
        }
        

        .form{
            grid-column: 1/-1;
            grid-row:6/7;
            padding: 0 2%;
            max-width:100% ;

        }
        .details{
            justify-content: space-between;
        }

        .cvc{
          display:flex;
          flex-direction: column;  
        }

        .name{
            padding: 20px;
        }
        .cvc-input{
            margin-top:0px !important;
        }

        

        button{
            padding: 20px;
        }
    }

    @media only screen and (max-width:600px){
        .inner-container{
            grid-template-rows: 10% 10% 10% 5% 5% 50% !important;
        }

        .card-one-container{
            grid-template-rows: 45% 25% 25% !important;  
        }

        .card-one, .card-two{
            background-size: contain !important;
        }

        .card-number{
            font-size: 5.8vmin;
        }

        .circle-one {
            width: 30px;
            height: 30px;
    }

    .circle-two {
        width: 10px;
        height: 10px;
    }

    .card-cvc{
        font-size: 1rem;
        top:13.5%;
    }
    .card-holder, .exp-date{
        font-size: 0.7rem;
    }


    }